.container-home{
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
}
.service_detail{
    text-align: center;
    margin: 1rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
} 
input, textarea{
    width: 40;
    padding: 2rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    
}
.btnList> button:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.detail{
    background: var(--color-bg-variant);
    gap: 1rem;
    text-align: center;
}
h1{
    color: white;
}

.btnList> button.active{
    background: var(--color-bg);
    color: var(--color-white);
}

/*====================MEDIA QUERIES(MEDIUM DEVICES)==============*/

@media screen and (max-width: 1024px) {
   
}
/*====================MEDIA QUERIES(SMALL DEVICES)==============*/
@media screen and (max-width: 600px) {
    .container-home{
        width: fit-content;
     }
}