#wrapper{
    overflow:auto;
    margin-bottom: 10rem;
}
#c1{
    font-size: 25px;
    margin-top: 1rem;
    float:left;
}

#c2{
    margin-top: 1rem;
    margin-left: 2rem;
    float:right;
}

#home{
    padding: 2rem;
}

/*Mobile Layout*/
/*@media(max-width: 641px){*/
    @media(max-width: 854px){
        #c1,#c2,#c3{
            display: block;
        }
        #c1{
            font-size: 60% 
        }
        #c2{
            font-size: 60%;
            float: left;
        }
    }
