.btnWorkspace{
    text-align: center;
    margin: 1rem;
    width: 30%;
    height: 100%;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.description{
    padding: 1rem;
    margin-top: 1rem;
}
.container{
    display: grid;
}