.btnWorkspace{
    text-align: center;
    margin: 1rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.description{
    padding: 1rem;
    margin-top: 1rem;
}
.container_setup{
    display: flex;
}
.container_list{
    display: flex;
    margin-left: 30%;
}
.service-detail{
    margin: 1rem;
}
.service_detail_setup{
    margin-left: 2rem;
}