.wrapper{
    display:block;
    width: max-content;
    padding: 1rem;
    margin: 1rem;
}  
.container1{
    width: fit-content;
    
}
.wrapper h3{
    margin: 1rem
    
}
.wrapper> h1, h3{
    font-size: 4rem;
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
button{
  color: black  
}

.resetBtn{
    margin-top: 1rem;
}
.box{
  width: 110%;
  border: 1px solid var(--color-primary);
  border-radius: 10px 10px 10px 10px;
  color: var(--color-primary);
}

.box1{
    display: grid; 
    color: var(--color-primary);
  }
.info{
    margin: 10%;
}

.white{
    color: black;
}


/*Mobile Layout*/
/*@media(max-width: 641px){*/
    @media(max-width: 854px){
        
    }